/*
 * Copyright (c) 2017-2021, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


//new file created for 2x cam on X230D(fd)
#include "dt-bindings/clock/tegra234-clock.h"

#define CAM0_RST_L	TEGRA234_MAIN_GPIO(H, 3)
#define CAM0_PWDN	TEGRA234_MAIN_GPIO(H, 6)
#define CAM1_RST_L	TEGRA234_MAIN_GPIO(AC, 1)
#define CAM1_PWDN	TEGRA234_MAIN_GPIO(AC, 0)
#define CAM2_RST_L	TEGRA234_MAIN_GPIO(AC, 3)
#define CAM2_PWDN	TEGRA234_MAIN_GPIO(AC, 2)
#define CAM3_RST_L	TEGRA234_MAIN_GPIO(H, 4)
#define CAM3_PWDN	TEGRA234_MAIN_GPIO(H, 5)

#define CAM_TRIGGER	TEGRA234_MAIN_GPIO(R, 0)

#define CAMERA_I2C_MUX_BUS(x) (0x1E + x)


//new file created for 4x cam on X230(D) + M222					(fd)

/ {

	gpio@2200000 {
		camera-control-output-low {
			gpio-hog;
			output-low;
			gpios = <CAM0_RST_L 0 CAM0_PWDN 0
				 CAM1_RST_L 0 CAM1_PWDN 0>;
			label = "cam0-rst", "cam0-pwdn",
				"cam1-rst", "cam1-pwdn";
		};
		camera-trigger-output-high {
			gpio-hog;
			output-high;
			gpios = <CAM_TRIGGER 0>;
			label = "cam-trigger";
		};
	};


	tegra-capture-vi {
		status = "okay";
		num-channels = <4>;
		ports {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			vi_port0: port@0 {								//M222 CSI 01		
				status = "okay";
				reg = <0>;
				rbpcv2_vi_in0: endpoint {
					status = "okay";
					port-index = <0>;
					bus-width = <2>;
					remote-endpoint = <&rbpcv2_csi_out0>;
				};
			};
			vi_port1: port@1 {								//M222 CSI 67		
				status = "okay";
				reg = <1>;
				rbpcv2_vi_in1: endpoint {
					status = "okay";
					port-index = <5>;
					bus-width = <2>;
					remote-endpoint = <&rbpcv2_csi_out1>;
				};
			};
			vi_port2: port@2 {								//M222 CSI 45	
				status = "okay";
				reg = <2>;
				rbpcv2_vi_in2: endpoint {
					status = "okay";
					port-index = <4>;
					bus-width = <2>;
					remote-endpoint = <&rbpcv2_csi_out2>;
				};
			};
			vi_port3: port@3 {								//M222 CSI 23
				status = "okay";
				reg = <3>;
				rbpcv2_vi_in3: endpoint {
					status = "okay";
					port-index = <2>;
					bus-width = <2>;
					remote-endpoint = <&rbpcv2_csi_out3>;
				};
			};
		};
	};

	host1x@13e00000 {
		nvcsi@15a00000 {
			status = "okay";
			num-channels = <4>;
			#address-cells = <1>;
			#size-cells = <0>;
			csi_chan0: channel@0 {								//M222 CSI 01		
				status = "okay";
				reg = <0>;
				ports {
					status = "okay";
					#address-cells = <1>;
					#size-cells = <0>;
					csi_chan0_port0: port@0 {
						status = "okay";
						reg = <0>;
						rbpcv2_csi_in0: endpoint@0 {
							status = "okay";
							port-index = <0>;
							bus-width = <2>;
							remote-endpoint = <&rbpcv2_imx219_out0>;
						};
					};
					csi_chan0_port1: port@1 {
						status = "okay";
						reg = <1>;
						rbpcv2_csi_out0: endpoint@1 {
							status = "okay";
							remote-endpoint = <&rbpcv2_vi_in0>;
						};
					};
				};
			};
			csi_chan1: channel@1 {								//M222 CSI 67		
				status = "okay";
				reg = <1>;
				ports {
					status = "okay";
					#address-cells = <1>;
					#size-cells = <0>;
					csi_chan1_port0: port@0 {
						status = "okay";
						reg = <0>;
						rbpcv2_csi_in1: endpoint@0 {
							status = "okay";
							port-index = <6>;
							bus-width = <2>;
							remote-endpoint = <&rbpcv2_imx219_out1>;
						};
					};
					csi_chan1_port1: port@1 {
						status = "okay";
						reg = <1>;
						rbpcv2_csi_out1: endpoint@1 {
							status = "okay";
							remote-endpoint = <&rbpcv2_vi_in1>;
						};
					};
				};
			};
			csi_chan2: channel@2 {								//M222 CSI 45		
				status = "okay";
				reg = <2>;
				ports {
					status = "okay";
					#address-cells = <1>;
					#size-cells = <0>;
					csi_chan2_port0: port@0 {
						status = "okay";
						reg = <0>;
						rbpcv2_csi_in2: endpoint@0 {
							status = "okay";
							port-index = <4>;
							bus-width = <2>;
							remote-endpoint = <&rbpcv2_imx219_out2>;
						};
					};
					csi_chan2_port1: port@1 {
						status = "okay";
						reg = <1>;
						rbpcv2_csi_out2: endpoint@1 {
							status = "okay";
							remote-endpoint = <&rbpcv2_vi_in2>;
						};
					};
				};
			};
			csi_chan3: channel@3 {								//M222 CSI 23
				status = "okay";
				reg = <3>;
				ports {
					status = "okay";
					#address-cells = <1>;
					#size-cells = <0>;
					csi_chan3_port0: port@0 {
						status = "okay";
						reg = <0>;
						rbpcv2_csi_in3: endpoint@0 {
							status = "okay";
							port-index = <2>;
							bus-width = <2>;
							remote-endpoint = <&rbpcv2_imx219_out3>;
						};
					};
					csi_chan3_port1: port@1 {
						status = "okay";
						reg = <1>;
						rbpcv2_csi_out3: endpoint@1 {
							status = "okay";
							remote-endpoint = <&rbpcv2_vi_in3>;
						};
					};
				};
			};
		};
	};

	i2c@31e0000 {											//M222 CSI 01		
		imx219_cam0: rbpcv2_imx219_a@10 {
			status="okay";
			compatible = "sony,imx219";
			reg = <0x10>;

			reset-gpios = <&tegra_main_gpio CAM1_PWDN GPIO_ACTIVE_HIGH>;

			devnode = "video0";

			physical_w = "3.680";
			physical_h = "2.760";

			sensor_model = "imx219";

			use_sensor_mode_id = "true";

			mode0 { // IMX219_MODE_3280x2464_21FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_a";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "3280";
				active_h = "2464";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16";
				max_gain_val = "170";
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000";
				max_framerate = "21000000"; 
				step_framerate = "1";
				default_framerate = "21000000";
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};
			mode1 { // IMX219_MODE_3280x1848_28FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_a";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "3280";
				active_h = "1848";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16";
				max_gain_val = "170";
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "28000000"; 
				step_framerate = "1";
				default_framerate = "28000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};
			mode2 { // IMX219_MODE_1920x1080_30FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_a";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1920";
				active_h = "1080";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "30000000"; 
				step_framerate = "1";
				default_framerate = "30000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			mode3 { // IMX219_MODE_1640x1232_30FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_a";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1640";
				active_h = "1232";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "30000000"; 
				step_framerate = "1";
				default_framerate = "30000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			mode4 { // IMX219_MODE_1280x720_60FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_a";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1280";
				active_h = "720";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000";
				max_framerate = "60000000"; 
				step_framerate = "1";
				default_framerate = "60000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			ports {
				status="okay";
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					status="okay";
					reg = <0>;
					rbpcv2_imx219_out0: endpoint {
						status="okay";
						port-index = <0>;
						bus-width = <2>;
						remote-endpoint = <&rbpcv2_csi_in0>;
					};
				};
			};
		};
	};
	i2c@c240000 {												//M222 CSI 67			
		imx219_cam1: rbpcv2_imx219_g@10 {
			status="okay";
			compatible = "sony,imx219";
			reg = <0x10>;
			
			reset-gpios = <&tegra_main_gpio CAM0_PWDN GPIO_ACTIVE_HIGH>;

			devnode = "video1";

			physical_w = "3.680";
			physical_h = "2.760";

			sensor_model = "imx219";

			use_sensor_mode_id = "true";

			mode0 { // IMX219_MODE_3280x2464_21FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_g";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "3280";
				active_h = "2464";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "21000000"; 
				step_framerate = "1";
				default_framerate = "21000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};
			mode1 { // IMX219_MODE_3280x1848_28FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_g";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "3280";
				active_h = "1848";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "28000000"; 
				step_framerate = "1";
				default_framerate = "28000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};
			mode2 { // IMX219_MODE_1920x1080_30FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_g";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1920";
				active_h = "1080";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000";
				max_framerate = "30000000";
				step_framerate = "1";
				default_framerate = "30000000";
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			mode3 { // IMX219_MODE_1640x1232_30FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_g";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1640";
				active_h = "1232";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "30000000";
				step_framerate = "1";
				default_framerate = "30000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			mode4 { // IMX219_MODE_1280x720_60FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_g";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1280";
				active_h = "720";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000";
				max_framerate = "60000000";
				step_framerate = "1";
				default_framerate = "60000000"; 
				min_exp_time = "13";
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			ports {
				status="okay";
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					status="okay";
					reg = <0>;
					rbpcv2_imx219_out1: endpoint {
						status = "okay";
						port-index = <6>;
						bus-width = <2>;
						remote-endpoint = <&rbpcv2_csi_in1>;
					};
				};
			};
		};
	};
	i2c@c250000 {												//M222 CSI 45	
		imx219_cam2: rbpcv2_imx219_e@10 {
			status="okay";
			compatible = "sony,imx219";
			reg = <0x10>;
			
			reset-gpios = <&tegra_main_gpio CAM2_PWDN GPIO_ACTIVE_HIGH>;

			devnode = "video2";

			physical_w = "3.680";
			physical_h = "2.760";

			sensor_model = "imx219";

			use_sensor_mode_id = "true";

			mode0 { // IMX219_MODE_3280x2464_21FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_e";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "3280";
				active_h = "2464";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "21000000"; 
				step_framerate = "1";
				default_framerate = "21000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};
			mode1 { // IMX219_MODE_3280x1848_28FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_e";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "3280";
				active_h = "1848";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "28000000"; 
				step_framerate = "1";
				default_framerate = "28000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};
			mode2 { // IMX219_MODE_1920x1080_30FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_e";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1920";
				active_h = "1080";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000";
				max_framerate = "30000000";
				step_framerate = "1";
				default_framerate = "30000000";
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			mode3 { // IMX219_MODE_1640x1232_30FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_e";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1640";
				active_h = "1232";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "30000000";
				step_framerate = "1";
				default_framerate = "30000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			mode4 { // IMX219_MODE_1280x720_60FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_e";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1280";
				active_h = "720";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000";
				max_framerate = "60000000";
				step_framerate = "1";
				default_framerate = "60000000"; 
				min_exp_time = "13";
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			ports {
				status="okay";
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					status="okay";
					reg = <0>;
					rbpcv2_imx219_out2: endpoint {
						status = "okay";
						port-index = <4>;
						bus-width = <2>;
						remote-endpoint = <&rbpcv2_csi_in2>;
					};
				};
			};
		};
	};
	i2c@3180000 {											//M222 CSI 23				
		imx219_cam3: rbpcv2_imx219_c@10 {
			status="okay";
			compatible = "sony,imx219";
			reg = <0x10>;
			
			reset-gpios = <&tegra_main_gpio CAM3_PWDN GPIO_ACTIVE_HIGH>;

			devnode = "video3";

			physical_w = "3.680";
			physical_h = "2.760";

			sensor_model = "imx219";

			use_sensor_mode_id = "true";

			mode0 { // IMX219_MODE_3280x2464_21FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_c";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "3280";
				active_h = "2464";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "21000000"; 
				step_framerate = "1";
				default_framerate = "21000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};
			mode1 { // IMX219_MODE_3280x1848_28FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_c";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "3280";
				active_h = "1848";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "28000000"; 
				step_framerate = "1";
				default_framerate = "28000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};
			mode2 { // IMX219_MODE_1920x1080_30FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_c";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1920";
				active_h = "1080";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000";
				max_framerate = "30000000";
				step_framerate = "1";
				default_framerate = "30000000";
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			mode3 { // IMX219_MODE_1640x1232_30FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_c";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1640";
				active_h = "1232";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000"; 
				max_framerate = "30000000";
				step_framerate = "1";
				default_framerate = "30000000"; 
				min_exp_time = "13"; 
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			mode4 { // IMX219_MODE_1280x720_60FPS //
				mclk_khz = "24000";
				num_lanes = "2";
				tegra_sinterface = "serial_c";
				phy_mode = "DPHY";
				discontinuous_clk = "yes";
				dpcm_enable = "false";
				cil_settletime = "0";

				active_w = "1280";
				active_h = "720";
				mode_type = "bayer";
				pixel_phase = "rggb";
				csi_pixel_bit_depth = "10";
				readout_orientation = "90";
				line_length = "3448";
				inherent_gain = "1";
				mclk_multiplier = "9.33";
				pix_clk_hz = "182400000";

				gain_factor = "16";
				framerate_factor = "1000000";
				exposure_factor = "1000000";
				min_gain_val = "16"; 
				max_gain_val = "170"; 
				step_gain_val = "1";
				default_gain = "16"; 
				min_hdr_ratio = "1";
				max_hdr_ratio = "1";
				min_framerate = "2000000";
				max_framerate = "60000000";
				step_framerate = "1";
				default_framerate = "60000000"; 
				min_exp_time = "13";
				max_exp_time = "683709"; 
				step_exp_time = "1";
				default_exp_time = "2495"; 

				embedded_metadata_height = "2";
			};

			ports {
				status="okay";
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					status="okay";
					reg = <0>;
					rbpcv2_imx219_out3: endpoint {
						status = "okay";
						port-index = <2>;
						bus-width = <2>;
						remote-endpoint = <&rbpcv2_csi_in3>;
					};
				};
			};
		};
	};

	lens_imx219@RBPCV2 {
		min_focus_distance = "0.0";
		hyper_focal = "0.0";
		focal_length = "3.04";
		f_number = "2.0";
		aperture = "0.0";
	};

};


/ {
	tegra-camera-platform {
		compatible = "nvidia, tegra-camera-platform";

		num_csi_lanes = <8>;
		max_lane_speed = <1500000>;
		min_bits_per_pixel = <10>;
		vi_peak_byte_per_pixel = <2>;
		vi_bw_margin_pct = <25>;
		max_pixel_rate = <240000>;
		isp_peak_byte_per_pixel = <5>;
		isp_bw_margin_pct = <25>;

		modules {
			cam_module0: module0 {
				badge = "imx219_topright_RBPCV2";
				position = "topright";
				orientation = "1";
				cam_module0_drivernode0: drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx219 8-0010";
					proc-device-tree = "/proc/device-tree/i2c@31e0000/rbpcv2_imx219_a@10";
				};
				cam_module0_drivernode1: drivernode1 {
					pcl_id = "v4l2_lens";
					proc-device-tree = "/proc/device-tree/lens_imx219@RBPCV2/";
				};
			};
			cam_module1: module1 {
				badge = "imx219_bottomright_RBPCV2";
				position = "bottomright";
				orientation = "1";
				cam_module1_drivernode0: drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx219 1-0010";
					proc-device-tree = "/proc/device-tree/i2c@c240000/rbpcv2_imx219_g@10";
				};
				cam_module1_drivernode1: drivernode1 {
					pcl_id = "v4l2_lens";
					proc-device-tree = "/proc/device-tree/lens_imx219@RBPCV2/";
				};
			};
			cam_module2: module2 {
				badge = "imx219_topleft_RBPCV2";
				position = "topleft";
				orientation = "1";
				cam_module2_drivernode0: drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx219 7-0010";
					proc-device-tree = "/proc/device-tree/i2c@c250000/rbpcv2_imx219_e@10";
				};
				cam_module2_drivernode1: drivernode1 {
					pcl_id = "v4l2_lens";
					proc-device-tree = "/proc/device-tree/lens_imx219@RBPCV2/";
				};
			};
			cam_module3: module3 {
				badge = "imx219_bottomleft_RBPCV2";
				position = "bottomleft";
				orientation = "1";
				cam_module3_drivernode0: drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx219 2-0010";
					proc-device-tree = "/proc/device-tree/i2c@3180000/rbpcv2_imx219_c@10";
				};
				cam_module3_drivernode1: drivernode1 {
					pcl_id = "v4l2_lens";
					proc-device-tree = "/proc/device-tree/lens_imx219@RBPCV2/";
				};
			};
		};
	};
};
